﻿<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <title>View</title>
</head>
<body>
    <div>
        <table border="1">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Created</th>
                <th>Due Date</th>
                <th>Options</th>
            </tr>
            <tr>
                <td>@Model.Name</td>
                <td>@Model.Description</td>
                <td>@Model.DateCreated</td>
                <td>@Model.DueDate</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@Model.Id">
                        Edit
                    </a>
                    <a asp-action="Delete" asp-route-id="@Model.Id">
                        Delete
                    </a>
                </td>
            </tr>
        </table>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>
</html>